@import "reset.scss";

* {
    // Font styles needed here due to Chrome setting weird defaults without these 
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 1em;

    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", arial, sans-serif;
    font-size: 15px;
} 
// ---------------------------------------
$light-blue: #D4FFFF;
$yellow: #F6D27A;
$brown: #5D4834;
$dark-brown: #4E2519;
$white: #FFF;




// ---------------------------------------

.column {
    float: left;
    margin-right: 20px;
}

button,
.button {
    cursor: pointer;
    background-color: gray;
    margin: 5px;

    &.selected {
        background-color: navy !important;
    }
}

.keygun-wrap {
    border: 1px solid black;
    width: 960px;

    .numpad-view {
        width: 360px;
        display: inline-block;

        #buttons {
            button.key {
                display: inline-block;
                width: 80px;
                height: 80px;
                float: right;

                &.tall { height: 170px;}
                &.wide { width: 170px;}
            }
        }

        .customkey {
            padding: 15px 12px;
            width: 84px;

            input {
                width: 60px;
            }
        }
    }

    .guns-view {
        width: 200px;

        li.gun {
            font-size: 14px;
            padding: 4px;

            &.classFirst {
                margin-top: 20px;
            }

            &:first-child {
                margin-top: 5px;
            }
        }
    }

    .staging-view {
        width: 320px;
        min-height: 10px;
        display: block;

        li {
            vertical-align: middle;
            font-size: 16px;

            p {
                margin: 10px;
                float: left;
            }
            .price {
                margin-top: 12px;
                font-size: 12px;
                float: right;
            }
            button {
                float: right;
            }
        }
    }
}



.binds-view {
    width: 300px;

    div.bind {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 2px;
        background-color: gray;
        overflow: auto;

        .key {
            float: left;
            height: 100%;
            width: 50px;
            padding: 4px;
            background-color: white;
        }

        .guns-list {
            float: left;
            height: 100%;
            display: block;
        }
    }
}







/*
    CLEARFIX HACK
    (http://nicolasgallagher.com/micro-clearfix-hack/)
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none;
}


