<h2>Choose Key</h2>
<div id="numpad" class="clearfix">
	<button data-key="kp_minus" class="key">-</button>
	<button data-key="*"  class="key">*</button>
	<button data-key="kp_slash" class="key">/</button>
	<button data-key="NL" class="key">NL</button>
	<button data-key="kp_plus" class="key tall">+</button>
	<button data-key="kp_pgup" class="key">9</button>
	<button data-key="kp_uparrow" class="key">8</button>
	<button data-key="kp_home" class="key">7</button>
	<button data-key="kp_rightarrow" class="key">6</button>
	<button data-key="kp_5" class="key">5</button>
	<button data-key="kp_leftarrow" class="key">4</button>
	<button data-key="kp_enter" class="key tall">&crarr;</button>
	<button data-key="kp_pgdn" class="key">3</button>
	<button data-key="kp_downarrow" class="key">2</button>
	<button data-key="kp_end" class="key">1</button>
	<button data-key="kp_del" class="key">,</button>
	<button data-key="kp_ins" class="key wide">0</button>
</div>

<div id="customkey-wrap" class="clearfix">
	<div class="button customkey">
		<input id="customkey" type="text" placeholder="Custom" />
	</div>
</div>

<div id="metakeys" class="clearfix">
	<button data-key="ins" class="key">Insert</button>
	<button data-key="home" class="key">Home</button>
	<button data-key="pgup" class="key">Page Up</button>
	<button data-key="del" class="key">Delete</button>
	<button data-key="end" class="key">End</button>
	<button data-key="pgdn" class="key">Page Down</button>
</div>

<div id="fkeys" class="clearfix">
	<button data-key="F1" class="key">F1</button>
	<button data-key="F2" class="key">F2</button>
	<button data-key="F3" class="key">F3</button>
	<button data-key="F4" class="key">F4</button>

	<button data-key="F5" class="key">F5</button>
	<button data-key="F6" class="key">F6</button>
	<button data-key="F7" class="key">F7</button>
	<button data-key="F8" class="key">F8</button>

	<button data-key="F9" class="key">F9</button>
	<button data-key="F10" class="key">F10</button>
	<button data-key="F11" class="key">F11</button>
	<button data-key="F12" class="key">F12</button>
</div>

<div id="arrows" class="clearfix">
	<button data-key="uparrow" class="key" id="up">&#8593;</button>
	<button data-key="home" class="key">&#8592;</button>
	<button data-key="pgup" class="key">&#8595;</button>
	<button data-key="del" class="key">&#8594;</button>
</div>
